/*------------------------------------------------------------------------------
*    CSS Document (http://www.w3.org/Style/CSS/)
*    For STYLEGUIDE, reffer to /config/_styleguide.scss
-----------------------------------------------------------------------------*/
/* EXAMPLE
*    @include breakpoint (phone) {
*        width: 40%;
*    }
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details,
figcaption, figure, footer,
header, hgroup, main,
menu, nav, section,
summary {
  display: block; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

::selection {
  color: #FFF;
  background-color: #5c5c5c; }

::-moz-selection {
  color: #FFF;
  background-color: #5c5c5c; }

::-webkit-selection {
  color: #FFF;
  background-color: #5c5c5c; }

html {
  overflow-y: scroll;
  overflow-x: hidden; }

html, body {
  width: 100%;
  background-color: lightgray; }

body {
  padding-top: 8rem; }

img {
  display: block;
  width: 100%; }

a {
  outline: none;
  text-decoration: none; }

html {
  -webkit-font-smoothing: antialiased; }

input,
textarea,
select {
  box-sizing: inherit; }

input[type="search"] {
  -webkit-appearance: textfield !important; }

input[type="search"]::-webkit-search-cancel-button {
  display: none; }

.innerWrapper {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }

@font-face {
  font-family: "Lucien_Bold";
  src: url("../fonts/Lucien_Bold.otf") format("opentype"); }
@font-face {
  font-family: "Lucien_Regular";
  src: url("../fonts/Lucien_Regular.otf") format("opentype"); }
@font-face {
  font-family: "Lucien_Light";
  src: url("../fonts/Lucien_Light.otf") format("opentype"); }
html {
  font-size: 10px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    html {
      font-size: 6.66667px; } }
  @media (max-width: 767px) {
    html {
      font-size: 5px; } }

body {
  font-size: 100%;
  font-family: "Lucien_Regular", Arial, Helvetica, Tahoma, sans-serif; }

b,
strong {
  font-weight: bold; }

i,
em {
  font-style: italic; }

u {
  text-decoration: underline; }

h1 {
  font-size: 7.2rem;
  font-family: "Lucien_Regular", Arial, Helvetica, Tahoma, sans-serif; }

h3 {
  color: #363636; }

.clear {
  clear: both; }

.hide {
  display: none; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.fleft {
  float: left; }

.fright {
  float: right; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.vertical-top {
  vertical-align: top; }

.vertical-middle {
  vertical-align: middle; }

.table {
  display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

h1 {
  color: #af8716;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem; }

.year {
  font-size: 5rem;
  text-align: center;
  font-family: Georgia;
  font-weight: bold; }
  .year--left {
    margin-right: 16rem; }
  .year--right {
    margin-left: 16rem; }
  .year__firstItem {
    margin-top: 10rem;
    margin-bottom: 10rem; }
  .year__secondItem {
    margin-top: 10rem;
    margin-bottom: 5rem; }

.small-year {
  position: absolute;
  top: 7rem;
  left: 41%; }

.modified-year {
  top: -4rem; }

.visible p {
  font-family: "Lucien_Light", Arial, Helvetica, Tahoma, sans-serif; }

.title-padding {
  padding: 0 4.5rem; }

.js-showArticle {
  font-family: "Lucien_Light", Arial, Helvetica, Tahoma, sans-serif; }

.divider {
  width: 1px;
  height: 100%;
  position: absolute;
  left: 49.8%;
  top: 11rem;
  border-left: 3px solid #af8716;
  z-index: 10; }

.anchor {
  position: fixed;
  top: 0;
  right: 0;
  content: '';
  width: 2.5rem;
  z-index: 10; }
  .anchor__mask {
    background-color: #FFF;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .anchor__divider {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 49%;
    top: 0rem;
    border-left: 1px solid #5e5e5e;
    z-index: 0; }
  .anchor a {
    display: block;
    width: 7.5px;
    height: 7.5px;
    background-color: #5e5e5e;
    border-radius: 10px;
    content: '';
    margin: 3rem auto;
    z-index: 0;
    position: relative; }

.article__popup {
  position: absolute;
  top: 0;
  right: 24rem;
  background: #FFF;
  height: 20.5rem;
  padding-top: 5.5rem;
  text-align: center; }
  .article__popupFirst {
    right: 15.142%;
    left: 60.3%; }
  .article__popup h2 {
    font-size: 2.1rem;
    color: #af8716;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
    margin-top: 1.1rem;
    transition: .3s all linear; }
  .article__popup span {
    font-size: 1.6rem;
    text-transform: uppercase;
    transition: .3s all linear; }
  .article__popup button {
    background: transparent;
    border: 0;
    display: block;
    margin: 1rem auto;
    color: #af8716;
    font-size: 4rem;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: .3s all linear; }
  .article__popup--secondPosition {
    top: 17rem;
    right: 5%;
    left: 70.5%;
    height: auto;
    bottom: 36.2%; }
    .article__popup--secondPositionImage {
      width: 53%;
      left: 7%;
      position: absolute;
      z-index: 3;
      top: 8%;
      opacity: 0; }
  .article__popup--thirdPosition {
    top: 12rem;
    right: 73%;
    left: 5%;
    height: auto;
    bottom: 23.2%;
    z-index: 3; }
  .article__popup--fourthPosition {
    top: -7rem;
    right: 5%;
    left: 70.5%;
    height: auto;
    bottom: 75.2%; }
  .article__popup--fifthPosition {
    top: 2rem;
    right: 0%;
    left: 75%;
    height: auto;
    bottom: 40.2%;
    z-index: 3;
    transition: 0.00001s all ease-in; }
  .article__popup--sixthPosition {
    top: 28rem;
    right: 68%;
    left: 9%;
    height: auto;
    bottom: 28.2%;
    z-index: 3; }
  .article__popup--seventhPosition {
    left: -27%;
    right: 90%;
    top: 29rem;
    bottom: 0;
    z-index: 4; }
.article__medium {
  position: relative; }
  .article__mediumItem {
    width: 50%;
    margin: 0 auto; }
  .article__medium .hotelGulf {
    width: 65%; }
    .article__medium .hotelGulf img {
      width: 83%;
      transition: 0.00001s all ease-in; }
  .article__mediumImage {
    position: absolute;
    width: 50%; }
  .article__medium .articlePopup p {
    line-height: 2.5rem;
    font-family: "Lucien_Light", Arial, Helvetica, Tahoma, sans-serif;
    max-width: 70%; }
.article__small {
  position: relative;
  margin-top: 20rem; }
  .article__smallItem {
    width: 20%;
    margin-left: 20%; }
    .article__smallItem img {
      position: relative;
      z-index: 4; }
    .article__smallItem--right {
      margin-left: 65%; }
  .article__small .articlePopup p {
    line-height: 2.5rem;
    font-family: "Lucien_Light", Arial, Helvetica, Tahoma, sans-serif;
    max-width: 70%; }
.articlePopup {
  padding-top: 4.5rem;
  opacity: 0; }
  .articlePopup-close {
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    width: auto;
    cursor: pointer; }
  .articlePopup-points {
    margin: 0 auto;
    width: 150px;
    margin-bottom: 4rem; }
  .articlePopup p {
    font-size: 1.7rem;
    line-height: 3rem;
    max-width: 350px;
    margin: 0 auto;
    text-align: justify; }
    .articlePopup p span {
      color: #af8716;
      text-transform: none; }
  .articlePopup a {
    color: #af8716;
    display: block;
    width: 200px;
    margin: 3rem auto;
    font-size: 1.4rem;
    font-family: Georgia; }
    .articlePopup a:before, .articlePopup a:after {
      display: block;
      width: 100%;
      height: 0.1rem;
      background-color: #af8716;
      content: '';
      margin: 2rem 0; }

.popupImage {
  position: absolute;
  right: -13%;
  top: 16%;
  width: 60%; }

.diaporama__big {
  position: relative; }
  .diaporama__big img {
    transition: all 0.5s ease;
    -webkit-transition: 0.5s all ease; }
  .diaporama__big-sliderItem {
    display: inline-block;
    width: 100%; }

.js-slide {
  position: absolute;
  top: 15rem;
  left: 100%; }

.hotelGulfDiaporama .article__popup--secondPositionImage {
  top: -5%; }

.cinemaFestival {
  margin-top: -15rem; }
  .cinemaFestival .article__smallItem {
    width: 25%;
    margin-left: 22%; }
  .cinemaFestival__popup {
    padding: 0 40% 0 0; }

.societeHoteliare .article__mediumItem {
  margin-left: 38.5%; }
  .societeHoteliare .article__mediumItem img {
    transition: 0.00001s all ease-in;
    -webkit-transition: 0.00001s all ease-in; }
.societeHoteliare--position {
  top: 69%;
  right: 57%;
  left: 19%;
  bottom: 28.2%;
  z-index: 3;
  height: initial;
  bottom: 0; }
.societeHoteliareImagePopup {
  right: 0%;
  left: auto;
  top: -7%; }

.slot-machine .article__smallItem {
  width: 16%; }
.slot-machine .article__smallItem--right {
  margin-left: 58%; }
.slot-machine--position {
  top: 45%;
  right: 11.5%;
  left: 72%;
  height: auto;
  bottom: 25.2%;
  z-index: 3;
  transition: 0.00001s all ease-in;
  -webkit-transition: 0.00001s all ease-in; }

.diane {
  margin-top: -10rem; }
  .diane .article__smallItem {
    margin-left: 27%;
    width: 19%; }
  .diane--position {
    top: 40%;
    right: 69%;
    left: 5%;
    height: auto;
    bottom: 23.2%;
    z-index: 3;
    transition: 0.00001s all ease-in;
    -webkit-transition: 0.00001s all ease-in; }
  .diane .articlePopup-close {
    top: 4rem;
    right: 9rem; }
  .diane .articlePopup p {
    padding: 0 3rem; }
  .diane .small-year {
    top: 40%; }

.dominique {
  margin-top: -4rem; }
  .dominique .article__smallItem {
    width: 26.5%; }
  .dominique .article__smallItem--right {
    margin-left: 57%; }
  .dominique--position {
    top: 12%;
    right: 5%;
    left: 73%;
    height: auto;
    bottom: 50.2%;
    z-index: 3;
    transition: 0.00001s all ease-in;
    -webkit-transition: 0.00001s all ease-in; }
  .dominique .small-year {
    top: 36%; }

.fouqets--position {
  left: 15%;
  height: 18.5rem;
  right: auto; }

.fondation .article__mediumImage {
  transition: 0.00001s all ease-in;
  -webkit-transition: 0.00001s all ease-in;
  margin-left: 7%; }
.fondation--position {
  top: 2%;
  right: 5%;
  left: 70.5%;
  height: auto;
  bottom: 65.2%;
  z-index: 3; }

.dominique-person .article__smallItem {
  margin-left: 25%; }
.dominique-person--position {
  top: -6%;
  right: 67%;
  left: 5%;
  height: auto;
  bottom: 63.2%;
  z-index: 3;
  transition: 0.00001s all ease-in;
  -webkit-transition: 0.00001s all ease-in; }

.hotel-later .article__mediumItem img {
  margin-left: -19%;
  transition: 0.00001s all ease-in;
  -webkit-transition: 0.00001s all ease-in; }
.hotel-later--position {
  top: 59%;
  right: 29%;
  left: 46.5%;
  height: auto;
  bottom: 8.2%;
  z-index: 3;
  transition: 0.00001s all ease-in; }
.hotel-later .article__popup--secondPositionImage {
  width: 47%; }

.toulouse {
  margin-top: 20rem; }
  .toulouse .article__mediumImage {
    margin-left: 0;
    transition: 0.00001s all ease-in;
    -webkit-transition: 0.00001s all ease-in; }
  .toulouse--position {
    top: 27%;
    right: 5%;
    left: 70.5%;
    height: auto;
    bottom: 41.2%; }

.naoura {
  margin-top: 20rem; }
  .naoura--position {
    top: -1%;
    right: 70%;
    left: 5%;
    height: auto;
    bottom: 67.2%;
    z-index: 3;
    transition: 0.00001s all ease-in;
    -webkit-transition: 0.00001s all ease-in; }
  .naoura .article__popup--secondPositionImage {
    width: 49%;
    left: 39%;
    position: absolute;
    z-index: 4;
    top: 8%;
    opacity: 0; }

.lille {
  margin-top: 20rem; }
  .lille .article__mediumImage {
    margin-left: 30%;
    width: 40%;
    transition: 0.00001s all ease-in;
    -webkit-transition: 0.00001s all ease-in; }
  .lille--position {
    top: 80%;
    right: 18%;
    left: 58%;
    height: auto;
    bottom: -15%; }
  .lille .modified-year {
    top: 0;
    left: 40%;
    position: absolute; }
  .lille .article__popup--secondPositionImage {
    width: 53%;
    left: 7%;
    position: absolute;
    z-index: 3;
    top: 5%;
    opacity: 0; }

.resort {
  margin-top: -4%; }
  .resort .article__mediumImage {
    margin-left: -20%;
    width: 40%;
    transition: 0.00001s all ease-in;
    -webkit-transition: 0.00001s all ease-in; }
  .resort--position {
    top: -31%;
    right: 53%;
    left: 27%;
    height: auto;
    bottom: 90%;
    z-index: 3; }
  .resort .modified-year {
    top: 33%;
    left: 40%;
    position: absolute; }
  .resort .article__popup--secondPositionImage {
    width: 46%;
    left: 46%;
    position: absolute;
    z-index: 4;
    top: -15%;
    opacity: 0; }

.pierre .article__smallItem {
  width: 22%; }
.pierre--position {
  top: 7%;
  right: 73%;
  left: 5%;
  height: auto;
  bottom: 57.2%;
  z-index: 3;
  transition: 0.00001s all ease-in;
  -webkit-transition: 0.00001s all ease-in; }
.pierre .modified-year {
  top: -12%; }

.moma {
  margin-top: 10rem; }
  .moma--position {
    top: 32%;
    right: 5%;
    left: 70.5%;
    height: auto;
    bottom: 32.2%; }
  .moma .article__mediumImage {
    margin-left: -20%; }
  .momaImage img {
    width: 74%; }
  .moma .article__popup--secondPositionImage {
    width: 58%;
    left: 2.45%;
    position: absolute;
    z-index: 3;
    top: -38%;
    opacity: 0; }
  .moma .modified-year {
    top: -53%;
    position: absolute;
    left: 45%; }

.westminster .article__mediumImage {
  margin-left: 20%;
  width: 40%;
  transition: 0.00001s all ease-in;
  -webkit-transition: 0.00001s all ease-in; }
.westminster--position {
  top: 25%;
  right: 53%;
  left: 25%;
  height: auto;
  bottom: 40%;
  z-index: 3;
  transition: 0.00001s all ease-in;
  -webkit-transition: 0.00001s all ease-in; }
.westminster .article__popup--secondPositionImage {
  width: 50%;
  left: 46%;
  position: absolute;
  z-index: 4;
  top: 38%;
  opacity: 0; }

.courche--position {
  left: 15%;
  height: 18.5rem;
  right: auto;
  z-index: 5; }

.js-slideShow {
  left: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  /* easeInCubic */ }

.js-slideShowBack {
  left: 100%;
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  /* easeInCubic */ }

.hideButton {
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  /* easeInCubic */ }

.fadeOut {
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  /* easeInCubic */
  opacity: 0; }

.displayNone {
  display: none !important; }

.js-showArticleBackground {
  background-color: #af8716;
  width: 2rem;
  height: 2rem;
  content: '';
  display: block;
  position: absolute;
  top: 0; }

.js-showArticle {
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  /* easeInCubic */ }

.visible {
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  /* easeInCubic */
  opacity: 1; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  1% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  1% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  opacity: 1; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 1;
    -webkit-transform: none;
    transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInDown {
  from {
    opacity: 1;
    -webkit-transform: none;
    transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

/*# sourceMappingURL=style.css.map */
