h1{
    color: $colorGold;
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
}
.year{
    font-size: 5rem;
    text-align: center;
    font-family: $baseFont--year;
    font-weight: bold;
    &--left{
        margin-right: 16rem;
    }
    &--right{
        margin-left: 16rem;
    }
    &__firstItem{
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    &__secondItem{
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
}
.goldPoint{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    content: '';
    background-color: $colorGold;
    position: absolute;
    left: 49.2%;
    top: 0%;
    &__1927{
        top: 21rem;
        &Second{
            top: 4rem;
        }
    }
    &__1962{
        top: 21rem;
    }
    &__1975{
        top: 30rem;
    }
    &__1988{
        top: 32rem;
    }
    &__1990{
        top: 65rem;
    }
    &__1997{
        top: 55rem;
    }
    &__1998{
        top: 18rem;
    }
    &__2001{
        top: 56rem;
    }
    &__2003{
        top: 26rem;
    }
    &__2006{
        top: 34rem;
    }
    &__2009{
        top: 43rem;
    }
    &__2010{
        top: 14rem;
    }
    &__2015{
        top: 77rem;
    }
    &__2016{
        top: 60rem;
    }
}
.small-year{
    position: absolute;
    top: 7rem;
    left: 41%;
}
.modified-year{
  top: -4rem;
}
.visible p{
  font-family: $baseFont--light;
}
.title-padding{
  padding: 0 4.5rem;
}
.js-showArticle{
  font-family: $baseFont--light;
}
.divider {
	width: 1px;
	position: absolute;
	left: 49.8%;
	top: 11rem;
	border-left: 3px solid $colorGold;
  z-index: 3;
}
.anchor{
  position: fixed;
  top: 0;
  right: 0;
  content:'';
  width: 2.5rem;
  z-index: 10;
  li{
      position: relative;
      .tooltip{
          position: absolute;
              top: -150%;
              right: -200%;
              background-color: $colorGold;
              color: $colorWhite;
              padding: 0.6rem 1rem;
              font-size: 0rem;
              transition: .2s all ease-in;
              font-family: Georgia;

      }
      .active{
          padding: 0.6rem 1rem;
          right: 150%;
          font-size: 2rem;
      }
  }
  a{
      cursor: pointer;
  }
  .activeButton{
      background-color: $colorGold;
  }
  &__mask{
    background-color: $colorWhite;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__divider{
    width: 1px;
    height: 100%;
    position: absolute;
    left: 49%;
    top: 0rem;
    border-left: 1px solid $colorAnchorBullet;
    z-index: 0;
  }
  a{
    display: block;
    width: 7.5px;
    height: 7.5px;
    background-color: $colorAnchorBullet;
    border-radius: 10px;
    content: '';
    margin: 3rem auto;
    z-index: 0;
    position: relative;
  }
}
//Body parts
@import 'article/article';
@import 'diaporama/diaporama';
