h1{
    color: $colorGold;
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
    font-size: 3.125vw;
    @include breakpoint (phone){
        font-size: 5vw;
    }
}
.year{
    font-size: 5rem;
    font-size: 3.125vw;
    text-align: center;
    font-family: $baseFont--year;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    @media screen and (min-width: 1650px){
        font-size: 5rem;
    }
    @include breakpoint (tablet){
      font-size: 36px;
    }
    @include breakpoint (phone){
      font-size: 4rem;
      font-size: 6.25vw;
    }
    &--left{
        margin-right: 16rem;
    }
    &--right{
        margin-left: 16rem;
    }
    &__firstItem{
        margin-top: 10rem;
        margin-bottom: 10rem;
        @include breakpoint(tablet){
          margin-top: 5rem;
          margin-bottom: 5rem;
          margin-right: 12rem;
        }
    }
    &__secondItem{
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
}
.goldPoint{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    content: '';
    background-color: $colorGold;
    position: absolute;
    left: 49.2%;
    top: 0%;
    @include breakpoint (toDesktop){
      width: 15px;
      height: 15px;
      top: 4%;
      left: 49%;
    }
    &__1912{
        top: 4%;
    }
    &__1926{
        top: -5%;
        @include breakpoint(toDesktop){
            top: -25%;
        }
    }
    &__1927{
        top: 39rem;
        @include breakpoint (toDesktop){
            top: -5rem;
        }
        &Second{
            top: 58%;
            @include breakpoint (toDesktop){
                top: -5rem;
            }
            @include breakpoint (phone){
                top: -9rem;
            }
        }
        &Third{
          top: 15rem;
          @include breakpoint(tablet){
                 top: -10rem;
          }
          @include breakpoint (phone){
                 top: -8rem;
          }
        }
    }
    &__1962{
        top: 37rem;
        @include breakpoint (toDesktop){
            top: -4rem;
        }
        @include breakpoint (phone){
            top: -9rem;
        }
    }
    &__1975{
        top: 91%;
        @include breakpoint (toDesktop){
            top: 7rem;
        }
        @include breakpoint (phone){
            top: 2rem;
        }
    }
    &__1988{
        top: 53rem;
        @include breakpoint (toDesktop){
            top: 5rem;
        }
        @include breakpoint (phone){
            top: 3rem;
        }
        &Second{
          top: 300%;
          @include breakpoint (toDesktop){
            top: -10rem;
          }
          @include breakpoint (phone){
              top: -8rem;
          }
        }
    }
    &__1990{
        top: 181%;
        @include breakpoint (toDesktop){
                top: -7rem;
        }
        @include breakpoint (phone){
                top: 9rem;
        }
    }
    &__1997{
        top: 158%;
        @include breakpoint (toDesktop){
            top: -3rem;
        }
        @include breakpoint (phone){
            top: -9rem;
        }
        &Second{
              top: 284%;
              @include breakpoint (toDesktop){
                  top: -8rem;
              }
        }
    }
    &__1998{
        top: 58%;
        @include breakpoint (toDesktop){
            top: -8rem;
        }
        &Second{
            top: 116%;
          @include breakpoint (toDesktop){
              top: -5rem;
          }
          @include breakpoint (phone){
            top: -8rem;
          }
        }
    }
    &__2001{
            top: 214%;
        @include breakpoint (toDesktop){
            top: -13.7rem;
        }
        @include breakpoint (phone){
            top: -11.7rem;
        }
    }
    &__2003{
            top: 73%;
        @include breakpoint (toDesktop){
            top: -12rem;
        }
        @include breakpoint (phone){
            top: -8.5rem;
        }
    }
    &__2006{
        top: 154%;
      @include breakpoint(toDesktop){
            top: -26%;
      }
      @include breakpoint (phone){
             top: -23%;
      }
        &Second{
            top: 158%;
          @include breakpoint(toDesktop){
              top: -6rem;
          }
          @include breakpoint (phone){
                top: -8rem;
          }
        }
    }
    &__2009{
        top: 180%;
        @include breakpoint (toDesktop){
            top: -26%;
        }
    }
    &__2009Second{
        top: 116%;
        @include breakpoint (toDesktop){
            top: -10rem;
        }
    }
    &__2010{
        top: 280%;
        @include breakpoint (toDesktop){
            top: -8rem;
        }
    }
    &__2015{
        top: 238%;
        @include breakpoint(toDesktop){
            top: -3rem;
        }
    }
    &__2016{
          top: 146%;
          @include breakpoint(toDesktop){
                top: -10rem;
          }
    }
    &__2016Second{
          top: 263%;
          @include breakpoint(toDesktop){
            top: -7rem;
          }
    }
}
.small-year{
    position: absolute;
    top: 7rem;
    left: 41%;
}
.modified-year{
  top: -4rem;
}
.visible p{
  font-family: $baseFont--light;
}
.title-padding{
  padding: 0 4.5rem;
}
.js-showArticle{
  font-family: $baseFont--light;
}
.divider {
	width: 1px;
	position: absolute;
	left: 49.7%;
	top: 11rem;
	border-left: 3px solid $colorGold;
  z-index: 3;
  @include breakpoint (tablet){
    top: 5rem;
    z-index: 0;
    border-left: 2px solid $colorGold;
  }
  @include breakpoint (phone){
      width: 1px;
        position: absolute;
        left: 50.1%;
        top: 11rem;
        border-left: 2px solid #af8716;
        z-index: 0;
  }
}
.anchor{
  position: fixed;
  top: 0;
  right: 0;
  content:'';
  width: 2.5rem;
  z-index: 10;
  @include breakpoint(toDesktop){
    display: none;
  }
  li{
      position: relative;
      .tooltip{
          position: absolute;
              top: -150%;
              right: -200%;
              background-color: $colorGold;
              color: $colorWhite;
              padding: 0.6rem 1rem;
              font-size: 0rem;
              transition: .2s all ease-in;
              font-family: Georgia;

      }
      .active{
          padding: 0.6rem 1rem;
          right: 150%;
          font-size: 2rem;
      }
  }
  a{
      cursor: pointer;
  }
  .activeButton{
      background-color: $colorGold;
  }
  &__mask{
    background-color: $colorWhite;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__divider{
    width: 1px;
    height: 100%;
    position: absolute;
    left: 49%;
    top: 0rem;
    border-left: 1px solid $colorAnchorBullet;
    z-index: 0;
  }
  a{
    display: block;
    width: 7.5px;
    height: 7.5px;
    background-color: $colorAnchorBullet;
    border-radius: 10px;
    content: '';
    margin: 3rem auto;
    z-index: 0;
    position: relative;
    @media screen and (min-width: 1025px) and (max-width: 1500px){
        margin: 2rem auto;
    }
  }
}
//Body parts
@import 'article/article';
@import 'diaporama/diaporama';
