h1{
    color: $colorGold;
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
}
.year{
    font-size: 5rem;
    text-align: center;
    font-family: $baseFont--year;
    font-weight: bold;
    &--left{
        margin-right: 16rem;
    }
    &--right{
        margin-left: 16rem;
    }
    &__firstItem{
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    &__secondItem{
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
}
.small-year{
    position: absolute;
    top: 7rem;
    left: 41%;
}
.modified-year{
  top: -4rem;
}
.visible p{
  font-family: $baseFont--light;
}
.title-padding{
  padding: 0 4.5rem;
}
.js-showArticle{
  font-family: $baseFont--light;
}
.divider {
	width: 1px;
  height: 100%;
	position: absolute;
	left: 49.8%;
	top: 11rem;
	border-left: 3px solid $colorGold;
  z-index: 10;
}
.anchor{
  position: fixed;
  top: 0;
  right: 0;
  content:'';
  width: 2.5rem;
  z-index: 10;
  &__mask{
    background-color: $colorWhite;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__divider{
    width: 1px;
    height: 100%;
    position: absolute;
    left: 49%;
    top: 0rem;
    border-left: 1px solid $colorAnchorBullet;
    z-index: 0;
  }
  a{
    display: block;
    width: 7.5px;
    height: 7.5px;
    background-color: $colorAnchorBullet;
    border-radius: 10px;
    content: '';
    margin: 3rem auto;
    z-index: 0;
    position: relative;
  }
}
//Body parts
@import 'article/article';
@import 'diaporama/diaporama';
