.diaporama{

    &__big{
        position: relative;
        img{
            transition: all 0.5s ease;
               transition: 0.5s all ease;
        }
        &-sliderItem{

            display: inline-block;
            width:100%;
        }
    }
}
.js-slide{
    position: absolute;
    top: 15rem;
    left: 100%;
}
.hotelGulfDiaporama{
    margin-top: 20rem;
  .article__popup--secondPositionImage{
      top: 69%;
      z-index: 10;
  }
  .year__secondItem{
      margin-bottom: -5rem;
  }
  .article__popup--fourthPosition{
      top: -9%;
    right: 5%;
    left: 70.5%;
    height: auto;
    bottom: 74.2%;
  }
}
.cinemaFestival{
  margin-top: -15rem;
  .article__smallItem{
    width: 25%;
    margin-left: 22%;
  }
  &__popup{
    padding: 0 40% 0 0;
  }
  .small-year {
    top: 17rem;
}
.article__popup--sixthPosition {
    top: 41rem;
    right: 68%;
    left: 9%;
    height: auto;
    bottom: 10.2%;
    z-index: 3;
}
}
.societeHoteliare{
    margin-top: 20rem;
  .article__mediumItem{
        margin-left: 38.5%;
        img{


        }
  }
  .article__popup--secondPositionImage{
      top: 130%;
      z-index: 5;
  }
  .modified-year{
      position: absolute;
      left: 41%;
      top: -10rem;
  }
  &--position{
      top: 75%;
      right: 57%;
      left: 19%;
      /* bottom: 27.2%; */
      z-index: 3;
      height: initial;
      bottom: -13%;
  }
  &ImagePopup{
    right: 0%;
    left: auto;
    top: -7%;
  }
}
.slot-machine{
    margin-top: 10rem;
  .article__smallItem{
      width: 15%;
  }
  .article__smallItem--right{
    margin-left: 55%;
  }
  &--position{
      top: 80%;
      right: 11.5%;
      left: 67%;
      height: auto;
      bottom: -14%;
      z-index: 3;


  }
  .small-year{
      left: 40.4%;
    top: 18rem;
  }
}
.diane{
  margin-top: -10rem;
  .article__smallItem{
    margin-left: 27%;
    width: 19%;
  }
  &--position{
      top: 82%;
      right: 69%;
      left: 5%;
      height: auto;
      bottom: -20.8%;
      z-index: 3;


  }
  .articlePopup-close{
    top: 4rem;
    right: 9rem;
  }
  .articlePopup p{
    padding: 0 3rem;
  }
  .small-year{
    top: 51rem;
  }
}
.dominique{
  margin-top: -4rem;
  .article__smallItem{
      width: 26.5%;
  }
  .article__smallItem--right{
    margin-left: 57%;
    z-index: 7;
  }
  &--position{
      top: 59%;
      right: 5%;
      left: 73%;
      height: auto;
      bottom: 0%;
      z-index: 6;
  }
  .small-year{
        top: 40rem;
  }
}
.fouqets{
    margin-top: 20rem;
  &--position{
    left: 15%;
    height: 18.5rem;
    right: auto;
    top: 22rem;
  }
  .modified-year{
      top: 4rem;
      position: absolute;
      right: 41%;
  }
}
.fondation{
    position: relative;
    margin-top: 20rem;
  .article__mediumImage{
    margin-left: 7%;
  }
  .article__popup--secondPositionImage{
    z-index: 5;
    top: 270%;
    width: 45%;
    left: 17%;

  }
  &--position{
      top: 35%;
      right: 5%;
      left: 70.5%;
      height: auto;
      bottom: 33.2%;
      z-index: 3;
  }
  .modified-year{
      position: absolute;
      top: 8rem;
      left: 41%;
  }
}
.dominique-person{
  .article__smallItem{
    margin-left: 25%;
  }
  &--position{
      top: 30rem;
      right: 67%;
      left: 5%;
      height: auto;
      bottom: -4%;
      z-index: 3;
  }
  .small-year{
     top: 44rem;
  }
}
.hotel-later{
    margin-top: 20rem;
  .article__mediumItem{
    img{
      margin-left: -19%;
    }
  }
  .modified-year{
      position: absolute;
      top: 20rem;
      left: 41%;
  }
  &--position{
      top: 76rem;
      right: 29%;
      left: 46.5%;
      height: auto;
      bottom: -67.8%;
      z-index: 3;
  }
  .article__popup--secondPositionImage{
      width: 43%;
  top: 230rem;
  }
}
.toulouse{
  margin-top: 20rem;
  .article__mediumImage{
    margin-left: 0;


  }
  &--position{
      top: 50%;
      right: 5%;
      left: 70.5%;
      height: auto;
      bottom: 16.2%;
  }
  .modified-year{
      top: 25rem;
      position: absolute;
      left: 41%;
  }
  .article__popup--secondPositionImage{
      top: 231rem;
  }
}
.naoura{
  margin-top: 20rem;
  &--position{
      top: 56%;
      right: 70%;
      left: 5%;
      height: auto;
      bottom: 10.2%;
      z-index: 3;
  }
  .article__popup--secondPositionImage {
    width: 49%;
    left: 39%;
    position: absolute;
    z-index: 4;
    top: 258rem;
    opacity: 0;
}
.modified-year{
    position: absolute;
    top: 28rem;
    left: 41%;
}
}
.lille{
  margin-top: 60rem;
  .article__mediumImage{
    margin-left: 30%;
    width: 40%;


  }
  &--position{
        top: 80%;
        right: 18%;
        left: 58%;
        height: auto;
        bottom: -15%;
  }
  .modified-year{
    top: 0;
    left: 40.3%;
    position: absolute;
  }
  .article__popup--secondPositionImage {
    width: 53%;
    left: 7%;
    position: absolute;
    z-index: 3;
    top: 227rem;
    opacity: 0;
}
}
.resort{
  margin-top: -4%;
  .article__mediumImage{
    margin-left: -20%;
    width: 40%;
    margin-top: -52rem;
  }
  &--position{
    top: -31%;
    right: 53%;
    left: 23%;
    height: auto;
    bottom: 90%;
    z-index: 3;
  }
  .modified-year{
    top: 33%;
    left: 41%;
    position: absolute;
  }
  .article__popup--secondPositionImage {
    width: 46%;
    left: 46%;
    position: absolute;
    z-index: 4;
    top: 222rem;
    opacity: 0;
}
}
.barriere-video{
    margin-top: -37rem;
    .modified-year{
        position: absolute;
        top: 35rem;
        left: 41%;
    }
    .article__popup{
        top: 43rem;
    }
    .js-slideShow{
        top: -127.5%;
    }
}
.pierre{
  .article__smallItem{
    width: 22%;
  }
  &--position{
      top: 61rem;
          right: 73%;
          left: 5%;
          height: auto;
          bottom: -25.8%;
          z-index: 3;


  }
  .modified-year{
    top: 60rem;
    left: 40.67%;
  }
}
.moma{
  margin-top: 10rem;
  &--position{
      top: 67rem;
      right: 5%;
      left: 70.5%;
      height: auto;
      bottom: -66.8%;
  }
  .article__mediumImage {
    margin-left: -20%;
  }
  &Image{
    img{
      width: 74%;
    }
  }
  .article__popup--secondPositionImage {
    width: 58%;
    left: 2.45%;
    position: absolute;
    z-index: 3;
    top: 316rem;
    opacity: 0;
}
.modified-year{
  top: 40rem;
  position: absolute;
  left: 41%;
}
}
.westminster{
    margin-top: 20rem;
  .article__mediumImage{
    margin-left: 20%;
    width: 40%;
  }
  &--position{
      top: 65rem;
      right: 53%;
      left: 25%;
      height: auto;
      bottom: -68%;
      z-index: 3;
  }
  .modified-year{
      position: absolute;
      top: 40rem;
      left: 41%;
  }
  .article__popup--secondPositionImage {
      width: 50%;
      left: 46%;
      position: absolute;
      z-index: 4;
      top: 359rem;
      opacity: 0;
}
}
.courche{
    margin-top: 20rem;
    margin-bottom: -1%;
  &--position{
    left: 15%;
        height: 18.5rem;
        right: auto;
        z-index: 5;
  }
  .modified-year{
      position: absolute;
      top: 45rem;
      left: 41%;
  }
  .article__popup{
      top: 54rem;
  }
  .js-slideShow{
    top: -157%;
  }
}
.francaise{
.year__secondItem{
    margin-bottom: 1rem;
}

}
.andre{
    .article__popup--thirdPosition {
            top: 14rem;
            right: 73%;
            left: 5%;
            height: auto;
            bottom: 6.2%;
            z-index: 3;
            padding-left: 5rem;
            padding-right: 5rem;
}
}
.lucien{
    margin-top: 5%;
    .article__popup--fifthPosition {
    top: 14rem;
    right: 5%;
    left: 75%;
    height: auto;
    bottom: 5.2%;
    z-index: 3;
}
.modified-year {
    top: 7rem;
}
.article__smallItem--right {
    margin-left: 63%;
}
}
.casinoHuge{
    margin-top: 20rem;
    .modified-year{
        top: 12rem;
        position: absolute;
        left: 41%;
    }
    .article__popup{
        top: 31rem;
    }
}
