//-------------------------
//---------------TYPOGRAPHY
//-------------------------

//------FONT-FACE
@font-face {
    font-family: "Lucien_Bold";
    // src: url("../../fonts/eot/Lucien-Bold.eot"); /* IE Compat Modes */
    src: url("../../fonts/Lucien_Bold.otf") format("opentype");
}
@font-face {
    font-family: "Lucien_Regular";
    // src: url("../../fonts/eot/Lucien-Regular.eot"); /* IE Compat Modes */
    src: url("../../fonts/Lucien_Regular.otf") format("opentype");
}
@font-face {
    font-family: "Lucien_Light";
    // src: url("../../fonts/eot/Lucien-Light.eot"); /* IE Compat Modes */
    src: url("../../fonts/Lucien_Light.otf") format("opentype");
}
//------FONT SIZES
html {
    $fontSizePX: $baseFontSize + 'px';
    font-size  : #{$fontSizePX};

    // @include breakpoint (tablet) {
    //     $fontSizePX: $baseFontSize / 1.5 + 'px';
    //     font-size  : #{$fontSizePX};
    // }
    // @include breakpoint (phone) {
    //     $fontSizePX: $baseFontSize / 2 + 'px';
    //     font-size  : #{$fontSizePX};
    // }
}
body {
    font-size: 100%;
    font-family: $baseFont;
}

//------DEFAULT STYLES
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
u {
    text-decoration: underline;
}

//------STYLES
h1 {
  // font-size: 7.2rem;
  color: $colorGold;
  font: {
    family: $baseFont;
    size: 5rem;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  @include breakpoint(tablet) {
    font-size: 2.8rem;
  }
  @include breakpoint(phone) {
    font-size: 3.2rem;
  }
}
h2 {
  font: {
    family: $baseFont--secondary;
    weight: bold;
    size: 3.5rem;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  @include breakpoint(tablet) {
    font-size: 2rem;
    line-height: 3rem;
  }
  @include breakpoint(phone) {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
h3 {
    color: $colorBlack;
}
h4 {

}
h5 {

}
h6 {

}
p {

}
span {

}
