//-------------------------
//---------------TYPOGRAPHY
//-------------------------

//------FONT-FACE
@font-face {
    font-family: "Lucien_Bold";
    src: url('../fonts/LucienBold/Lucien-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LucienBold/Lucien-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LucienBold/Lucien-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/LucienBold/Lucien-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/LucienBold/Lucien-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/LucienBold/Lucien-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
@font-face {
    font-family: "Lucien_Regular";
    src: url('../fonts/LucienRegular/Lucien-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LucienRegular/Lucien-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LucienRegular/Lucien-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/LucienRegular/Lucien-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/LucienRegular/Lucien-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/LucienRegular/Lucien-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
@font-face {
    font-family: "Lucien_Light";
    src: url('../fonts/LucienLight/Lucien-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LucienLight/Lucien-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LucienLight/Lucien-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/LucienLight/Lucien-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/LucienLight/Lucien-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/LucienLight/Lucien-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
//------FONT SIZES
html {
    $fontSizePX: $baseFontSize + 'px';
    font-size  : #{$fontSizePX};

    // @include breakpoint (tablet) {
    //     $fontSizePX: $baseFontSize / 1.5 + 'px';
    //     font-size  : #{$fontSizePX};
    // }
    // @include breakpoint (phone) {
    //     $fontSizePX: $baseFontSize / 2 + 'px';
    //     font-size  : #{$fontSizePX};
    // }
}
body {
    font-size: 100%;
    font-family: $baseFont;
}

//------DEFAULT STYLES
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
u {
    text-decoration: underline;
}

//------STYLES
h1 {
  // font-size: 7.2rem;
  color: $colorGold;
  font: {
    family: $baseFont;
    size: 5rem;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  @include breakpoint(tablet) {
    font-size: 2.8rem;
  }
  @include breakpoint(phone) {
    font-size: 3.2rem;
  }
}
h2 {
  font: {
    family: $baseFont--secondary;
    weight: bold;
    size: 3.5rem;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  @include breakpoint(tablet) {
    font-size: 2rem;
    line-height: 3rem;
  }
  @include breakpoint(phone) {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
h3 {
    color: $colorBlack;
}
h4 {

}
h5 {

}
h6 {

}
p {

}
span {

}
