//-------------------------
//---------------TYPOGRAPHY
//-------------------------

//------FONT-FACE
@font-face {
    font-family: "Lucien_Bold";
    src: url("../fonts/Lucien_Bold.otf") format("opentype")
}
@font-face {
    font-family: "Lucien_Regular";
    src: url("../fonts/Lucien_Regular.otf") format("opentype")
}
//------FONT SIZES
html {
    $fontSizePX: $baseFontSize + 'px';
    font-size  : #{$fontSizePX};

    @include breakpoint (tablet) {
        $fontSizePX: $baseFontSize / 1.5 + 'px';
        font-size  : #{$fontSizePX};
    }
    @include breakpoint (phone) {
        $fontSizePX: $baseFontSize / 2 + 'px';
        font-size  : #{$fontSizePX};
    }
}
body {
    font-size: 100%;
    font-family: $baseFont;
}

//------DEFAULT STYLES
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
u {
    text-decoration: underline;
}

//------STYLES
h1 {
    font-size: 7.2rem;
    font-family: $baseFont;
}
h2 {

}
h3 {
    color: $colorBlack;
}
h4 {

}
h5 {

}
h6 {

}
p {

}
span {

}
