//----- Editing Page / Bees block
.editing-bees {
  overflow: hidden;
  margin-bottom: 12.5rem;
  width: 100%;
  margin-top: -9.7rem;
  z-index: $levelMiddle;
  position: relative;
  @include breakpoint(tablet) {
    margin-top: 0.8rem;
    margin-bottom: 9rem;
  }
  @include breakpoint(phone) {
    margin-top: 7.5rem;
    margin-bottom: 6rem;
  }
  &__body {
    width: 68%;
    padding-left: 11%;
    overflow: hidden;
    @include breakpoint(tablet) {
      width: 100%;
      padding: 0 8%;
    }
    @include breakpoint(phone) {
      width: 100%;
      padding: 0 5%;
    }
  }
  &__info-head {
    float: right;
    margin-bottom: 4.5rem;
    width: 66%;
    @include breakpoint(tablet) {
      float: left;
      margin-bottom: 3.5rem;
    }
    @include breakpoint(phone) {
      width: 100%;
      margin-bottom: 3rem;
    }
  }
  &__title {
    margin-left: 14%;
    width: 45%;
    margin-top: -0.5rem;
    @include breakpoint(tablet) {
      margin-top: 0;
      margin-left: 17%;
      width: 65%;
    }
    @include breakpoint(phone) {
      margin-top: 0;
      margin-left: 15%;
      width: 65%;
    }
    .mob-inline-block {
      @include breakpoint(phone) {
        display: inline-block;
      }
    }
  }
  &__info-body {
    width: 42%;
    float: right;
    @include breakpoint(tablet) {
      width: 57%;
    }
    @include breakpoint(phone) {
      width: 100%;
    }
  }
  &__media {
    float: left;
    width: 50%;
    margin-right: 8%;
    margin-top: -8.5rem;
    @include breakpoint(tablet) {
      width: 60%;
      margin-top: -7.5rem;
      margin-left: 4%;
    }
    @include breakpoint(phone) {
      width: 100%;
      margin: 0 auto;
      float: none;
      margin-top: 8rem;
      display: inline-block;
      padding: 0 22%;
    }
  }
  
  .editing__num {
    font-size: 10rem;
  }
}