.article{
    &__popup{
        position: absolute;
        top: -1.9rem;
        right: 24rem;
        background: $colorWhite;
        height: 20.5rem;
        padding-top: 5.5rem;
        text-align: center;
        @include breakpoint (tablet){
          height: 16.5rem;
          padding-top: 5rem;
        }
        &First{
            right: 15.142%;
            left: 59.6%;
            @include breakpoint (tablet){
              right: 1.142%;
              left: 55.3%;
            }
        }
        h2{
            font-size: 2.1rem;
            font-size: 1.3vw;
            color: $colorGold;
            font-weight: bold;
            font-family: $baseFont--bold;
            text-transform: uppercase;
            margin-bottom: 1.1rem;
            margin-top: 1.1rem;
            transition: .3s all linear;
            @media screen and (min-width: 1600px){
                font-size: 2.1rem;
            }
            @include breakpoint (tablet){
              font-size: 2rem;
              margin-top: 0;
              margin-bottom: 0;
            }
        }
        span{
            font-size: 1.6rem;
            font-size: 1vw;
            text-transform: uppercase;
            transition: .3s all linear;
            @include breakpoint (tablet){
              font-size: 1.6rem;
            }
        }
        button{
            background: transparent;
            border: 0;
            display: block;
            margin: 1rem auto;
            color: $colorGold;
            font-size: 4rem;
            cursor: pointer;
            outline: none;
            position: relative;
            transition: .3s all linear;
            @include breakpoint(tablet){
              margin: 0rem auto;
              margin-bottom: 0;
            }
        }
        &--secondPosition{
            top: 51%;
            right: 5%;
            left: 69.8%;
            height: 21rem;
            @include breakpoint (toDesktop){
                top: 31%;
                right: 2%;
                left: 54.5%;
                height: 17rem;
            }
            &Image{
                width: 53%;
                left: 7%;
                position: absolute;
                z-index: 3;
                top: 8%;
                opacity: 0;
                @include breakpoint (tablet){
                    width: 69%;
                    left: -1%;
                    position: absolute;
                    z-index: 3;
                    top: -99%;
                    opacity: 0;
                }
            }
        }
        &--thirdPosition{
            top: 40%;
            right: 73%;
            left: 5%;
            height: 23rem;
            z-index: 3;
        }
        &--fourthPosition{
        top: 6%;
        right: 5%;
        left: 70.5%;
        height: auto;
        bottom: 60.2%;
        }
        &--fifthPosition{
          top: 2rem;
          right: 0%;
          left: 75%;
          height: auto;
          bottom: 40.2%;
          z-index: 3;
        }
        &--sixthPosition{
          top: 28rem;
          right: 68%;
          left: 9%;
          height: auto;
          bottom: 28.2%;
          z-index: 3;
        }
        &--seventhPosition{
          left: -27%;
          right: 90%;
          top: 29rem;
          bottom: 0;
          z-index: 4;
        }
    }
    &__medium{
        position: relative;
        &Item{
            width: 50%;
            margin: 0 auto;
        }
        .hotelGulf{
          width: 60%;
          img{
            width: 77%;
            @include breakpoint (toDesktop){
                width: 90%;
            }
          }
        }
        &Image{
            position: absolute;
            width: 49.212%;
            @include breakpoint(tablet){
                width: 60%;
                margin-left: -15rem;
            }
        }
        .articlePopup p{
            line-height: 2.5rem;
            font-size: 1.0625vw;
            font-family: $baseFont--light;
            max-width: 70%;
            @include breakpoint (tablet){
                font-size: 1.7rem;
            }
        }
    }
    &__small{
        position: relative;
        margin-top: 13%;
        &Item{
            width: 20%;
            margin-left: 20%;
            position: relative;
            z-index: 4;
            @include breakpoint (toDesktop){
                width: 23%;
                margin-left: 43.5%;
            }
            img{
                position: relative;
                z-index: 4;
            }
            &--right{
              margin-left: 65%;
            }
        }
        .articlePopup p{
            line-height: 2.5rem;
            font-size: 1.0625vw;
            font-family: $baseFont--light;
            max-width: 70%;
            @include breakpoint (toDesktop){
                font-size: 1.7rem;
            }
        }
    }
    &Popup{
        padding-top: 4.5rem;
        opacity: 0;
        &-close{
            position: absolute;
            top: 2rem;
            right: 2.5rem;
            width: 0;
            cursor: pointer;
        }
        &-points{
            margin: 0 auto;
            width: 150px;
            margin-bottom: 4rem;
            @include breakpoint (toDesktop){
                width: 120px;
            }
        }
        p{
            font-size: 1.7rem;
            font-size: 1.0625vw;
            line-height: 3rem;
            max-width: 350px;
            margin: 0 auto;
            text-align: justify;
            span{
                color: $colorGold;
                text-transform: none;
                font-family: $baseFont--bold;
            }
            @include breakpoint (tablet){
                font-size: 1.7rem;
                max-width: 465px;
            }
        }
        a{
            color: $colorGold;
            display: block;
            width: 200px;
            margin: 3rem auto;
            font-size: 1.4rem;
            font-size: 0.875vw;
            font-family: Georgia;
            @include breakpoint (tablet){
                font-size: 1.4rem;
                margin-top: 7rem;
            }
            &:before,
            &:after{
                display: block;
                width: 100%;
                height: 0.1rem;
                background-color: $colorGold;
                content: '';
                margin: 2rem 0;
            }
        }
    }
}
.popupImage{
  position: absolute;
  right: -13%;
  top: 16%;
  width: 0;
  @include breakpoint(toDesktop){
      position: absolute;
    right: 0;
    top: 11%;
    width: 0;
  }
}
.visible .articlePopup-close{
  width: auto;
}
.visible .popupImage{
    width: 60%;
    @include breakpoint (toDesktop){
        width: 44%;
    }
}
