//-------------------------
//---------------TYPOGRAPHY
//-------------------------

//------FONT-FACE

@include fontface(lucien-bold);
@include fontface(lucien-book);
@include fontface(lucien-book-italic);
@include fontface(lucien-light);
@include fontface(lucien-light-italic);
@include fontface(lucien-regular);

.lucien-bold {
    font-family: 'lucien-bold';
}

.lucien-light {
    font-family: 'lucien-light';
}

.lucien-light-italic {
    font-family: 'lucien-light-italic';
}

.lucien-bold-italic {
    font-family: 'lucien-bold-italic';
}

.lucien-book {
    font-family: 'lucien-book';
}

@font-face {
  font-family: "Georgia_Bold";
  src: url('../fonts/Georgia-Bold/Georgia-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Georgia-Bold/Georgia-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Georgia-Bold/Georgia-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Georgia-Bold/Georgia-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Georgia-Bold/Georgia-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Georgia-Bold/Georgia-Bold.svg#svgGeorgia-Bold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: "Georgia_Regular";
  src: url('../fonts/Georgia-Regular/Georgia-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Georgia-Regular/Georgia-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Georgia-Regular/Georgia-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Georgia-Regular/Georgia-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Georgia-Regular/Georgia-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Georgia-Regular/Georgia-Regular.svg#svgGeorgia-Regular') format('svg'); /* Legacy iOS */
}

.lucien-book-italic {
    font-family: 'lucien-book-italic';
}

.lucien-bold {
    font-family: 'lucien-bold';
}

.lucien-regular {
    font-family: 'lucien-regular';
}


//------FONT SIZES
html {
    $fontSizePX: $baseFontSize + 'px';
    font-size  : #{$fontSizePX};

    // @include breakpoint (tablet) {
    //     $fontSizePX: $baseFontSize / 1.5 + 'px';
    //     font-size  : #{$fontSizePX};
    // }
    // @include breakpoint (phone) {
    //     $fontSizePX: $baseFontSize / 2 + 'px';
    //     font-size  : #{$fontSizePX};
    // }
}
body {
    font-size: 100%;
    font-family: $baseFont;
}

//------DEFAULT STYLES
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
u {
    text-decoration: underline;
}

//------STYLES
h1 {
  // font-size: 7.2rem;
  color: $colorGold;
  font: {
    family: $baseFont;
    size: 5rem;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  @include breakpoint(tablet) {
    font-size: 2.8rem;
  }
  @include breakpoint(phone) {
    font-size: 3.2rem;
  }
}
h2 {
  font: {
    family: $baseFont--secondary-b;
    weight: bold;
    size: 3.5rem;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  @include breakpoint(tablet) {
    font-size: 2rem;
    line-height: 3rem;
  }
  @include breakpoint(phone) {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
h3 {
    color: $colorBlack;
}
h4 {

}
h5 {

}
h6 {

}
p {

}
span {

}
